@import "../../styles/utilities/createPixelBorder.scss";

.hit-point {
  position: relative;
  margin: 8px;
  box-shadow: createPixelBorder(4px, #2b2e4a);
  height: 16px;

  &__text {
    font-size: 12px;
    font-weight: bold;
    color: #2b2e4a;
  }

  &__bar {
    background-color: #47ac18;
    box-shadow: inset 0px 8px 0px 0px #99e550;
    transition: 0.3s;
    height: 100%;

    &.-delay {
      position: absolute;
      top: 0;
      background-color: red;
      box-shadow: none;
      z-index: -1;
    }
  }
}
