@import "../../../../utilities/scss/functions/createPixelBorder.scss";
@import "../../../../common.scss";

$node-border-width: 4px;
$color-border: #2e1710;

@mixin shadingChargePoint($color) {
  box-shadow: inset 0px (-$node-border-width * 2) 0px 0px $color;
}

.charge-point {
  padding-top: 40%;

  &.empty {
    background-color: $color-border !important;
    box-shadow: inset 0px ($node-border-width * 2) 0px 0px #a79995 !important;
  }
}

.charge-point-bar {
  @extend %grid-container;
  position: absolute;
  left: 50%;
  top: 36px;
  transform: translateX(calc(-50% - #{$node-border-width} * 2));
  margin: $node-border-width * 2;
  grid-template-columns: repeat(10, 1fr);
  background-color: $color-border;
  width: 121px;
  height: 20px;
  border: $node-border-width solid $color-border;
  box-shadow: createPixelBorder($node-border-width, #ad9587);

  &.safe .charge-point {
    background-color: #99e550;
    @include shadingChargePoint(#6abe30);
  }

  &.warning .charge-point {
    background-color: #ffd04c;
    @include shadingChargePoint(#d19c07);
  }

  &.danger .charge-point {
    background-color: #ff4412;
    @include shadingChargePoint(#9e371c);
  }
}
