@keyframes enter {
  0% {
    opacity: 0;
    max-width: 0px;
    transform: translateY(100px);
    margin: 0px;
  }

  50% {
    margin: 0px 5px;
    max-width: 100px;
  }

  100% {
    opacity: 1;
    margin: 0px 5px;
    max-width: 100px;
    transform: translateY(0px);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    max-width: 100px;
    margin: 0px 5px;
  }

  100% {
    opacity: 0;
    max-width: 0px;
    margin: 0px;
  }
}

.li-item {
  &-enter {
    &-active {
      animation-name: enter;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    &-done {
      margin: 0px 5px;
    }
  }

  &-exit {
    &-active {
      animation-name: exit;
      animation-duration: 1s;
    }
  }
}

.list {
  display: flex;
  justify-content: center;

  & > div {
    overflow: hidden;
    white-space: nowrap;
    background-color: blue;
    color: white;
  }
}
