@keyframes spell-enter {
  0% {
    opacity: 0;
    margin: 0px;
    max-width: 0px;
  }

  25% {
    opacity: 0;
    margin: 0px 6px;
    max-width: 24px;
  }

  100% {
    opacity: 1;
    margin: 0px 6px;
    max-width: 24px;
  }
}

@keyframes spell-exit {
  0% {
    opacity: 1;
    max-width: 24px;
    margin: 0px 6px;
  }

  75% {
    opacity: 0;
    max-width: 24px;
    margin: 0px 6px;
  }

  100% {
    opacity: 0;
    max-width: 0px;
    margin: 0px;
  }
}

.spell-transition {
  &-enter {
    &-active {
      animation-name: spell-enter;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
    }

    &-done {
      margin: 0px 6px;
    }
  }

  &-exit {
    &-active {
      animation-name: spell-exit;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
    }
  }
}

.spell-list {
  padding: 4px;
  display: flex;
  max-height: 36px;
  transition: max-height 200ms;

  &.-align-center {
    justify-content: center;
  }

  &.-align-left {
    justify-content: left;
  }

  &.-empty {
    max-height: 0px;
  }
}
