@import "../../../styles/utilities/createPixelBorder.scss";

$size: 14px;

.spell-tracker {
  position: relative;

  &__img {
    position: absolute;
  }

  &__counter {
    position: absolute;
    font-size: $size;
    background-color: #2f2f2f;
    width: $size;
    height: $size;
    top: $size;
    left: $size;
    text-align: center;
    color: white;
  }
}
