@import "../../../styles/utilities/createPixelBorder.scss";

$size: 14px;

@keyframes spell-triggered {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.spell-tracker {
  position: relative;

  &__img {
    &.-triggered {
      animation-name: spell-triggered;
      animation-duration: 450ms;
    }
  }

  &__counter {
    position: absolute;
    font-size: $size;
    background-color: #2f2f2f;
    width: $size;
    height: $size;
    top: $size;
    left: $size;
    text-align: center;
    color: white;
  }
}
