@keyframes card-enter {
  0% {
    opacity: 0;
    transform: translateY(40px);
    margin: 0px;
    max-width: 0px;
  }

  25% {
    opacity: 0;
    margin: 0px 4px;
    max-width: 4rem;
  }

  100% {
    opacity: 1;
    margin: 0px 4px;
    max-width: 4rem;
    transform: translateY(0px);
  }
}

@keyframes card-exit {
  0% {
    opacity: 1;
    max-width: 4rem;
    margin: 0px 4px;
  }

  75% {
    opacity: 0;
    max-width: 4rem;
    margin: 0px 4px;
  }

  100% {
    opacity: 0;
    max-width: 0px;
    margin: 0px;
  }
}

.player__hand {
  display: flex;
  margin: 8px;
  justify-content: center;
}

.card-transition {
  &-enter {
    &-active {
      animation-name: card-enter;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }

    &-done {
      margin: 0px 4px;
    }
  }

  &-exit {
    &-active {
      animation-name: card-exit;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
    }
  }
}
